*{
  margin: 0;
  padding: 0;
}

.App{
  color: white;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

main{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.screen {
  width: 90%;
  height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #000;
}
 
::-webkit-scrollbar-thumb {
  background-color: #fff;
}